.inger{
    font-size: 4rem;
    margin: 10px;
    padding: 20px;
}

.ins{
    font-family: 4rem;
    margin: 10px;
    padding: 20px;
}

.spoon{
    font-size: 2rem;
    margin: 10px;
    padding: 20px;
}

.line{
    font-size: 2rem;
    margin: 10px;
    padding: 20px;
}

.andhra{
    background-color: bisque;
    margin: 10px;
    padding: 20px;
}


