.cup{
    background-color: bisque;
    margin: 10px;
    padding: 20px;
}

.dosa{
    font-size: 3rem;
    margin: 10px;
    padding: 20px;
}

.led{
    font-size: 2rem;
    margin: 10px;
    padding: 20px;
}

.cook{
    font-size: 3rem;
    margin: 10px;
    padding: 20px;
}

.must{
    font-size: 2rem;
    margin: 10px;
    padding: 20px;
}

.cup{
    background-color: bisque;
    margin: 10px;
    padding: 20px;
}

