.cup2{
    background-color: bisque;
    margin: 10px;
    padding: 20px;
}

.idly{
    font-size: 3rem;
    margin: 10px;
    padding: 20px;
}

.rice{
    font-size: 2rem;
    margin: 10px;
    padding: 20px;
}

.cook{
    font-size: 3rem;
    margin: 10px;
    padding: 20px;
}

.both{
    font-size: 2rem;
    margin: 10px;
    padding: 20px;
}

.cup{
    margin:10px ;
    padding: 20px;
    margin: 10px;
    padding: 20px;
}
