.cup1{
    background-color: bisque;
    margin: 10px;
    padding: 20px;
}

.puri{
    font-size: 3rem;
    margin: 10px;
    padding: 20px;
}

.wheat{
    font-size: 2rem;
    margin: 10px;
    padding: 20px;
}

.cook{
    font-size: 3rem;
    margin: 10px;
    padding: 20px;
}

.mix{
    font-size: 2rem;
    margin: 10px;
    padding: 20px;
}
